.v-card__title {
  // correct word breaking in titles
  word-break: break-word;
}

.v-breadcrumbs {
  padding-top: 0;
  padding-bottom: 0;
  // remove breadcrumb padding on small screens
  @media (max-width: 540px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.v-tabs--right {
  justify-content: flex-end;
}

.limit-width {
  max-width: 1400px;
}

.light-background,
.light-background-children,
.light-background-children .theme--light.v-card {
  background-color: $lightBackground;
}
