.v-card__title {
  // correct word breaking in titles
  word-break: break-word;
}

.v-breadcrumbs {
  // remove breadcrumb padding on small screens
  @media (max-width: 540px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.limit-width {
  max-width: 1400px;
}
