// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// In order to change the font, add to nuxt.config.js
// vuetify.defaultAssets.font.family = 'Open Sans Condensed'
// vuetify.treeShake = true
// $body-font-family: 'Open Sans Condensed', sans-serif;

$primary: #008adb;
$lightBackground: rgba(244, 249, 253);
$lightBackground: rgba(243, 248, 252);

$font-size-root: 15.5px;
$card-elevation: 1;
$card-hover-elevation: 4;
$card-actions-padding: 10px;
$card-subtitle-padding: 20px;
$card-title-font-size: 1.35rem;
$card-title-font-weight: 600;
$card-title-line-height: 1.55rem;
$card-title-font-size: 1.4rem;
$card-title-word-break: break-word;

$border-radius-root: 3px;

$material-light: (
  'states': (
    'hover': 0.15,
  ),
);

$material-dark: (
  'states': (
    'hover': 0.15,
  ),
);
