// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// In order to change the font, add to nuxt.config.js
// vuetify.defaultAssets.font.family = 'Open Sans Condensed'
// vuetify.treeShake = true
// $body-font-family: 'Open Sans Condensed', sans-serif;

$primary: #008adb;
$lightBackground: rgba(244, 249, 253);

$font-size-root: 15.5px;
$card-elevation: 1;
$card-hover-elevation: 4;
$border-radius-root: 5px;

$breadcrumbs-padding: 0 7px;
$breadcrumbs-even-child-padding: 0 7px;

$material-light: (
  'states': (
    'hover': 0.15,
  ),
);

$material-dark: (
  'states': (
    'hover': 0.15,
  ),
);
