// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// In order to change the font, add to nuxt.config.js
// vuetify.defaultAssets.font.family = 'Open Sans Condensed'
// vuetify.treeShake = true
// $body-font-family: 'Open Sans Condensed', sans-serif;

$primary: #008adb;

$lightBackground: rgba(245, 250, 252);

$material-light: (
  'states': (
    'hover': 0.15,
  ),
);

$material-dark: (
  'states': (
    'hover': 0.15,
  ),
);
