/* page transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
  opacity: 1;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.todo {
  background-image: linear-gradient(
    45deg,
    rgba($primary, 0.1) 25%,
    rgba(white, 0.8) 25%,
    rgba(white, 0.8) 50%,
    rgba($primary, 0.1) 50%,
    rgba($primary, 0.1) 75%,
    rgba(white, 0.8) 75%,
    rgba(white, 0.8) 100%
  );
  background-size: 56.57px 56.57px;
  background-repeat: repeat;
}
