/* page transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
  opacity: 1;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.limit-width,
.col.limit-width {
  max-width: 1220px;
}
